:root {
  --color-primary-blue-dark: #4D96A9;
  --color-primary-blue-light: #8FE3F9;
  --color-primary-violet-dark: #855FB1;
  --color-primary-violet-light: #D9B8FF;
  --color-neutral-dark: #28283D;
  --color-neutral-grey: #87879D;
  --color-neutral-white: #FAFAFA; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  min-height: 100vh;
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.6rem;
  color: var(--color-neutral-grey);
  background-color: var(--color-neutral-white); }

/*
    || HEADER 
*/
.feature__hero--left, .feature__hero--right {
  display: block;
  width: 36.2rem;
  height: 100%; }

.header {
  display: flex;
  justify-content: center;
  padding: 8rem 0 6.1rem 0; }
  .header__logo {
    display: block;
    width: 11.8rem;
    height: 2.8rem; }

.feature {
  background-color: #bdbdbd;
  min-height: 35.8rem;
  display: flex;
  justify-content: space-between;
  overflow: hidden; }
  .feature__hero--left {
    background-image: url(../assets/desktop/image-hero-left.png);
    background-repeat: no-repeat;
    transform: translateX(-3.2rem); }
  .feature__hero--right {
    background-image: url(../assets/desktop/image-hero-right.png);
    background-repeat: no-repeat;
    transform: translateX(4rem); }
  .feature__box {
    padding: 2rem;
    text-align: center;
    width: 54rem; }

/*
    || BUTTON 
*/
.button-box {
  margin-top: 3.2rem; }

.btn {
  display: inline-block;
  text-decoration: none;
  height: 5.8rem;
  padding: 1.6rem 2.9rem;
  border-radius: 2.9rem;
  color: var(--color-neutral-white);
  font-weight: 900;
  line-height: 2.6rem;
  font-size: 1.6rem;
  transition: all 0.2s; }
  .btn:first-child {
    margin-right: 1.6rem; }
  .btn--green {
    width: 19.3rem;
    background-color: var(--color-primary-blue-dark); }
    .btn--green span {
      color: var(--color-primary-blue-light); }
    .btn--green:hover {
      background-color: var(--color-primary-blue-light); }
  .btn--violet {
    width: 13.9rem;
    background-color: var(--color-primary-violet-dark); }
    .btn--violet:hover {
      background-color: var(--color-primary-violet-light); }

/* || Typography */
.heading {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 6.4rem;
  color: var(--color-neutral-dark);
  line-height: 6.4rem;
  margin-bottom: 3.4rem; }

.separator {
  height: 18rem;
  background-color: #eee;
  margin-top: 6.2rem;
  margin-bottom: 8.4rem;
  display: flex;
  justify-content: center;
  align-items: flex-end; }
  .separator__cirle {
    width: 5.6rem;
    height: 5.6rem;
    background-color: orangered;
    border-radius: 2.9rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .separator__cirle::before {
      content: "";
      display: block;
      width: 1px;
      height: 8.4rem;
      background-color: orangered;
      position: absolute;
      transform: translateY(-7rem); }
  .separator-2 {
    margin-top: 2.2rem; }

.gallery {
  width: 111rem;
  margin: 0 auto 8rem auto; }
  .gallery__container {
    background-color: palegreen;
    display: flex; }
    .gallery__container > *:not(:last-child) {
      margin-right: 3rem; }
  .gallery__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }

/*
    || DETAIL
*/
.detail {
  width: 54rem;
  height: 24rem;
  margin: 0 auto;
  text-align: center; }
  .detail__overline {
    font-weight: 900;
    color: var(--color-primary-blue-dark);
    line-height: 2.6rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-size: 1.6rem;
    margin-bottom: 1.6rem; }
  .detail__heading {
    display: block;
    width: 44.5rem;
    color: var(--color-neutral-dark);
    font-size: 4rem;
    line-height: 4.4rem;
    margin: 0 auto 3.2rem auto; }

/*
    || FOOTER
*/
.footer {
  background-color: powderblue;
  min-width: 100vh;
  height: 30.8rem;
  background-image: linear-gradient(rgba(77, 151, 169, 0.85), rgba(77, 151, 169, 0.85)), url(../assets/desktop/image-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center; }
  .footer__content {
    flex: 1;
    display: flex;
    justify-content: space-evenly; }
  .footer__heading {
    display: block;
    width: 35rem;
    font-size: 4rem;
    line-height: 4.4rem;
    font-weight: 900;
    color: var(--color-neutral-white); }
  .footer__paragraph {
    display: block;
    width: 35rem;
    color: var(--color-neutral-white); }
  .footer__btn {
    width: 19.3rem; }
