/*
    || HEADER 
*/

%hero-size {
    display: block;
    width: 36.2rem;
    height: 80%;
}

.header {
    display: flex;
    justify-content: center;
    padding: 8rem 0 6.1rem 0;

    &__logo {
        display: block;
        width: 11.8rem;
        height: 2.8rem;
    }
}

.feature {
    display: flex;
    justify-content: space-between;
    overflow: hidden;


    &__hero--left {
        @extend %hero-size;
        background-image: url(../assets/desktop/image-hero-left.png);
        background-repeat: no-repeat;
        transform: translateX(-3.2rem);

        @media only screen and (max-width: $bp-large) {
            display: none;
        }
    }

    &__hero--right {
        @extend %hero-size;
        background-image: url(../assets/desktop/image-hero-right.png);
        background-repeat: no-repeat;
        transform: translateX(4rem);
        margin-top: 9rem;

        @media only screen and (max-width: $bp-large) {
            display: none;
        }
    }

    &__box {
        padding: 2rem;
        text-align: center;
        width: 54rem;
    }

    &__hero--full {
        display: none;

        @media only screen and (max-width: $bp-large) {
            background-image: url(../assets/tablet/image-hero.png);
            background-size: cover;
        }
    }
}

/*
    || BUTTON 
*/
.button-box {
    margin-top: 3.2rem;
}

.btn {
    display: inline-block;
    text-decoration: none;
    height: 5.8rem;
    padding: 1.6rem 2.9rem;
    border-radius: 2.9rem;
    color: var(--color-neutral-white);
    font-weight: 900;
    line-height: 2.6rem;
    font-size: 1.6rem;
    transition: all 0.2s;

    &:first-child {
        margin-right: 1.6rem;
    }

    &--green {
        width: 19.3rem;
        background-color: var(--color-primary-blue-dark);

        span {
            color: var(--color-primary-blue-light);
        }

        &:hover {
            background-color: var(--color-primary-blue-light);
        }
    }

    &--violet {
        width: 13.9rem;
        background-color: var(--color-primary-violet-dark);

        &:hover {
            background-color: var(--color-primary-violet-light);
        }
    }
}

/* || Typography */

.heading {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    font-size: 6.4rem;
    color: var(--color-neutral-dark);
    line-height: 6.4rem;
    margin-bottom: 3.4rem;
}

.separator {
    height: 18rem;
    // background-color: #eee;
    margin-top: 6.2rem;
    margin-bottom: 8.4rem;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    &__cirle {
        width: 5.6rem;
        height: 5.6rem;
        border: 1px solid #D8D8D8;
        border-radius: 2.9rem;
        font-weight: 900;
        font-size: 1.6rem;

        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
            content: "";
            display: block;
            width: 1px;
            height: 8.4rem;
            background-color: #D8D8D8;
            position: absolute;
            transform: translateY(-7rem);
        }
    }

    &-2 {
        margin-top: 2.2rem;
    }
}

.gallery {
    max-width: 111rem;
    margin: 0 auto 8rem auto;

    &__container {
        // background-color: palegreen;
        display: flex;

        & > *:not(:last-child) {
            margin-right: 3rem;
        }
    }


    &__img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }
}

/*
    || DETAIL
*/

.detail {
    width: 54rem; // TEST
    height: 24rem; // TEST
    margin: 0 auto;
    text-align: center;

    &__overline {
        font-weight: 900;
        color: var(--color-primary-blue-dark);
        line-height: 2.6rem;
        text-transform: uppercase;
        letter-spacing: 0.4rem;
        font-size: 1.6rem;
        margin-bottom: 1.6rem;
    }

    &__heading {
        display: block;
        width: 44.5rem;
        color: var(--color-neutral-dark);
        font-size: 4rem;
        line-height: 4.4rem;
        margin: 0 auto 3.2rem auto;
    }
}

/*
    || FOOTER
*/

.footer {
    background-color: powderblue;
    min-width: 100vh; // TEST
    height: 30.8rem; // TEST

    background-image: linear-gradient(rgba(77, 151, 169, 0.85), rgba(77, 151, 169, 0.85)),
        url(../assets/desktop/image-footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;

    &__content {
        flex: 1;
        display: flex;
        justify-content: space-evenly;
    }

    &__heading {
        display: block;
        width: 35rem;
        font-size: 4rem;
        line-height: 4.4rem;
        font-weight: 900;
        color: var(--color-neutral-white);
    }

    &__paragraph {
        display: block;
        width: 35rem;
        color: var(--color-neutral-white);
    }

    &__btn {
        width: 19.3rem;
    }
}